{{- $email := promptStringOnce . "email" "Email address" -}}

encryption = "gpg"
[gpg]
    recipient = {{ $email | quote }}


{{ joinPath .chezmoi.sourceDir "identity.toml.gpg" | include | decrypt}} 
